<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components Button</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="button.css">
</head>
<body>
    <!-- --Button -->
    <div class="components-button">
        <h3>Filled Buton</h3>
        <div class="btn-filled">
            <button class="btn btn-filled-primary">
                Primary </button>
            <a href="#"><button class="btn btn-filled-link">
                Link</button></a>
            <button class="btn btn-filled-icon">
                <span class="material-icons">home</span>
            </button>
            <button class="btn btn-filled-success">
                Success</button>
        </div>

        <div class="btn-outlined">
            <button class="btn btn-outined-primary">
                Primary </button>
            <a href="#"><button class="btn btn-outlined-link">
                Link</button></a>
            <button class="btn btn-outlined-icon">
                <span class="material-icons">home</span>
            </button>
            <button class="btn btn-outlined-success">
                Success</button>

        </div>

        <h3>Floating Button</h3>
        <!-- Floating -->
        <div class="fab-container">
            <div class="fab-button fab-icon"><span class="material-icons">add</span></div>
            <ul class="fab-options">
                <li>
                    <span class="fab-icon-label">Facebook</span>
                    <div class="fab-icon"><span class="fab fa-facebook"></span></div>
                </li>
                <li>
                    <span class="fab-icon-label">Instagram</span>
                    <div class="fab-icon"><span class="fab fa-instagram"></span></div>
                </li>
                <li>
                    <span class="fab-icon-label">Telegram</span>
                    <div class="fab-icon"><span class="fab fa-telegram"></span></div>
                </li>
                <li>
                    <span class="fab-icon-label">Twitter</span>
                    <div class="fab-icon"><span class="fab fa-twitter"></span></div>
                </li>
            </ul>
        </div>

        <a href="#"><button class="floating-arrow-btn">
            <span class="material-icons">arrow_upward</span></button></a>
    </div>
<script src="/Components/app.js"></script>
</body>
</html>