.compnents-badges-display{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    border: 0.1rem solid black;
}

.badge-icons{
    font-size: 3rem;
}

.badge-box{
    margin: 1rem;
    padding: 1rem; 
}

.badge{
    color:cornsilk;
    /* background: brown; */
    background: var(--primary-color);
    border-radius: 50%;
    padding: 0.1rem 0.5rem;
    position: relative;
    border: 1px white solid;
}

.badge-icon-position{
    top: -2rem;
    right: 1.3rem;
}

.badge-avatar-position{
    top: -10%;
    right: 21%;
}

.badge-avatar-text-position{
    top: -25%;
    left: 72%;
}

    
