:root{
    --primary-btn-color : rgb(180, 54, 32);
    --link-btn-color: rgb(0, 0, 141);
    --success-btn-color:rgb(55, 205, 50);
    --btn-text-color: beige;
    --btn-background-color:white;
    --fab-btn-color:brown;
  }
  
  .components-button-display{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    border: 0.1rem solid black;
    width: 60%;
  }
  
  .btn{
  width: 6rem;
  height: 2rem;
  border-radius: 0.5rem;
  margin: 1rem;
  border: none;
  }
  
  .btn-filled .btn{
      color: var(--btn-text-color);
  }
  .btn-filled-primary{
      background-color:var(--primary-btn-color);
  }
  .btn-filled-link{
      background-color: var(--link-btn-color);
  }
  .btn-filled-link:hover{
      text-decoration: underline;
      background-color:var(--btn-background-color);
      color:var(--link-btn-color);
      border: 0.1rem var(--link-btn-color) solid;
      cursor: pointer;
  }
  .btn-filled-icon{
      background-color: var(--primary-btn-color);
      position: relative;
  }
  .btn-filled-success{
      background-color: var(--success-btn-color);
  }
  .btn-outlined .btn{
      background-color: var(--btn-text-color);
  }
  .btn-outined-primary{
      border:0.2rem var(--primary-btn-color) solid;
      color:var(--primary-btn-color);
  }
  .btn-outlined-link{
      border:0.2rem var(--link-btn-color) solid;
      color: var(--link-btn-color);
  }
  .btn-outlined-link:hover{
      background-color: var(--link-btn-color);
      color: var(--btn-text-color);
  }
  .btn-outlined-icon{
      border:0.2rem var(--primary-btn-color) solid;
      color: var(--primary-btn-color);
      position: relative;
  }
  .btn-outlined-success{
      border: 0.2rem var(--success-btn-color) solid;
      color:var(--success-btn-color);
  }
  
  /* FAB Button */
  
  .fab-container{
      cursor: pointer;
      list-style-type: none;
      position:absolute;
      left: 10rem;
    }
    .fab-icon{
      background-color: var(--primary-btn-color);
      height: 3.5rem;
      width: 3.5rem;
      border-radius: 50%;
    }
    .fab-button{
      background-color:var(--fab-btn-color);
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
    }
    .fab-icon span{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      color: var(--btn-text-color);
    }
    .fab-options{
      list-style-type: none;
      position: absolute;
      bottom:2rem;
      right: 0;
      visibility: collapse;
    }
    .fab-options li{
      display:flex;
      justify-content:flex-end;
      flex-direction: column;
      padding:0.5rem;
      }
    .fab-icon-label{
      background-color: rgb(0, 0, 0);
      padding: 0.2rem 0.5rem;
      margin-right: 1rem;
      align-self: center;
      color: var(--btn-text-color);
      border-radius: 1rem;
    }
  
    .floating-arrow-btn{
      align-items: center;
      display: flex;
      justify-content: center;
      color: var(--btn-text-color);
      background-color: var(--fab-btn-color);
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      margin: none;
      border: none;
      padding: none;
    }
    .floating-arrow-btn:hover{
        background-color: var(--btn-background-color);
        color: var(--fab-btn-color);
        border: 0.2rem solid var(--primary-btn-color);
    }