 /* ----- Horizontal Cards----- */
  .horizontal-card-content > *{
    margin:0px;
  }
  .horizontal-card-container{
    margin:1rem;
    width: 20rem;
    height: 15rem;
    border: 1px solid var(--color-gray-600);
  }
  .card-image {
    width: 100%;
    height: 100%;
  }
  .horizontal-card-content{
    width: 13rem;
    height: 14rem;
    padding: 0.5rem;
    justify-content: space-evenly;
  }
  .horizontal-card-button{
    background-color: var(--color-primary);
    color: var(--color-gray-100);
    border-radius: 5px;
  }
  .card-subheading{
    color: var(--color-gray-300);
  }

  /* card with close button and badge*/
  .closeCard::before{
    position: absolute;
    content: "#Trending";
    background:var(--color-link);
    top:0.5rem;
    right: 12.5rem;
    width: 5rem;
    padding: 0.2rem;
    text-align: center;
    color:var(--color-gray-100);   
  }
  .closeCard{
    position: absolute;
    margin-left: 18rem;
    margin-top:0.5rem ;
  }

  /* ------Vertical Cards----- */

  .vertical-card-container{
    margin:1rem;
    width: 20rem;
    height: 25rem;
    border: 1px solid var(--color-gray-600);
  }
  .vertical-card-image{
    height:12rem;
    width: 20rem;
  }
  .vertical-card-content > *{
    margin:0.1rem;
  }
  .vertical-card-content{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .vertical-card-button{
    display: flex;
    justify-content: space-between;
  }
  .vertical-card-button button{
    background-color: transparent;
    border: none;
    font-size: large;
    color: var(--color-primary);
    cursor: pointer;
  }

  /* Card OverLay Image */
  
  .card-overlay-container{
    width: 20rem;
    height: 20rem;
    box-shadow: 0.5rem 0.5rem 0.5rem var(--color-gray-300);
  }
  .card-overlay-image{
    width: 20rem;
    height: 20rem;
  }
  .card-overlay-content{
    position: absolute;
    height: 16rem;
    width: 16rem;
    opacity: 0;
    transition: .5s ease;
    background-color:var(--color-gray-600);
    color: var(--color-primary-light);
    justify-content: space-evenly;
    padding: 2rem;
  }
  .card-overlay-content > *{
    margin: 0rem;
  }
  .card-overlay:hover .card-overlay-content{
    opacity: 0.85;
  }
  .card-overlay-content button{
    background-color: var(--color-primary);
    border-radius: 0.5rem;
    color: var(--color-gray-100);
    cursor: pointer;
  }

  /* Card with Text Only */

  .text-card-content{
    width: 18rem;
    height: 15rem;
    border: 1px solid var(--color-gray-600);
    justify-content: space-evenly;
    padding:0.3rem;
    background-color: var(--color-gray-100);
    box-shadow: 0.5rem 0.5rem 0.5rem var(--color-gray-300);
  }
  .text-card-content > *{
    margin: 0px;
  }
  .text-card-button button{
    background-color: var(--color-primary);
    border-radius: 0.5rem;
    color: var(--color-gray-100);
    cursor: pointer;
    border: 1px solid var(--color-gray-600);
    padding: 0.2rem;
  }