.grid-components{
    display: grid;
}
.grid-components div{
    background-color: var(--color-primary-dark);
    text-align: center;
    padding: 1rem; 
    margin: 0.5rem;
    color: var(--color-gray-100);
}
.grid-row-2 {
    grid-template-rows: repeat(2,1fr);
}
.grid-column-2 {
    grid-template-columns: repeat(2,1fr);
}
.grid-row-3 {
    grid-template-rows: repeat(3, 1fr);
}
.grid-column-3 {
    grid-template-columns: repeat(3, 1fr);
}