.input-container{
    padding: 1rem;
    border: 1px solid var(--color-gray-200);
    width: 60%;
}
.input-form{
    width: 50%;
    justify-content: space-evenly;
    background-color: var(--color-gray-100);
    padding: 0.5rem;
    border: 1px solid var(--color-gray-600);
    box-shadow: 5px 5px 5px var(--color-gray-300);
}
.input-password-text{
    color: var(--color-error);
    margin: 0.3rem;
}
.input-form > *{
    margin:0.3rem;
}
.input-form-password{
    border: 2px var(--color-error) solid;
}
.input-form input,#description {
    width: 80%;
}
#input-form-submit{
    width: 40%;
    margin-left: 5rem;
    margin-top: 1rem;
    background-color: var(--color-primary);
    color: var(--color-gray-100);
    padding: 0.2rem;
}