@import url(alert.css);
@import url(button.css);
@import url(avatar.css);
@import url(badges.css);
@import url(cards.css);
@import url(input.css);
@import url(images.css);
@import url(nav.css);
@import url(sideBar.css);
@import url(docs.css);


:root{

    --color-primary:rgb(15, 128, 120);
    --color-primary-dark:rgb(6, 73, 69);
    --color-primary-light:rgb(173, 252, 246);
    
    --color-error:rgb(196, 34, 34);
    --color-success:rgb(54, 136, 54);
    --color-warning: rgb(248, 141, 53);
    --color-link:rgb(59, 59, 158);

    --color-gray-100:rgb(255, 255, 255);
    --color-gray-200:rgb(200, 200, 200);
    --color-gray-300:rgb(150, 150, 150);
    --color-gray-400:rgb(100, 100, 100);
    --color-gray-500:rgb(50, 50, 50);
    --color-gray-600:rgb(0, 0, 0);  
    
}  


*{
    font-family: Arial, Helvetica, sans-serif;
}

.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.pointer{
    cursor: pointer;
}
button{
    cursor: pointer;
}

