.header-container{
    align-items: center;
    border: 1px solid var(--color-primary-600);
    background-color: var(--color-primary-light);
}

.header-container a{
    text-decoration: none;
}
.header-container h3{
    font-size: 1.5rem;
    margin-left: 4rem;
    color: var(--color-primary-dark);
    font-family: cursive;
    font-size: xx-large;
}
.header-links{
    margin-left: 40rem;
}
.header-links a{
    padding: 1rem;
    font-size: larger;
    color: var(--color-primary-600);
    text-decoration: none;
    font-weight: bold;
}
.header-links a:hover{
    color: var(--color-gray-300);
}