<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alert</title>
    <link rel="stylesheet" href="alert.css">
</head>
<body>
    <div class="container-alert">
        <h2>Alerts</h2>
        <div class="alert-box alert-primary">
            ⚠ This is a danger alert 
        </div>
        <div class="alert-box alert-secondary">
            This is a secondary alert 
        </div> 
        <div class="alert-box alert-success">
            ✔️ This is a success alert 
        </div> 
        <div class="alert-box alert-warning">
            ⚠ This is a Warning alert 
        </div> 
       
        <h2> Alert Button that can be closed</h2>
        <div class="alert-box alert-primary">
            ⚠ This is a danger alert that can be closed
            <button class="alert-close">X</button>
        </div>
    </div>
<script src="/Components/app.js"></script>
</body>
</html>